.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  cursor: grabbing;
}

.carousel-item {
  position: relative;
  width: 100%;
}

.carousel-item img {
  height: 700px;
  width: 100%;
}

.carousel-details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
  width: 30%;
}

.carousel-details h3 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.carousel-details p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.shop-now-btn {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
}
.item-0 .carousel-details {
  color: rgb(255, 255, 255);
}
/* services-container */

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.service img {
  width: 20%;
}

.fade-in {
  opacity: 0;
  transform: translateY(100px);
}
.fade-in.active {
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 1000px) {
  html {
    font-size: 80%;
  }
  .carousel-details {
    top: 62%;
    left: 1rem;
    width: 50%;
    font-weight: 600;
  }
  .services-container {
    text-align: center;
  }
  .service {
    gap: 2rem;
    flex-direction: column;
    font-weight: 500;
  }
  .service img {
    width: 25%;
    margin-bottom: 0.5rem;
  }
  .service h3 {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 700px) {
  .services-container {
    flex-direction: column;
    gap: 1rem;
  }
  .service {
    gap: 0rem;
  }
  .service img {
    width: 20%;
    margin-bottom: 0rem;
  }
}
