li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}
.logo {
  width: 7%;
  filter: brightness(1%);
  cursor: pointer;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}
.navbar-icons {
  position: absolute;
  right: 0;
  display: none;
  z-index: 4;
}
.nav-icon {
  cursor: pointer;
  width: 2.2rem;
}
.cart {
  width: 30px;
}
.cross {
  filter: invert(1);
}
.active {
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.561);
}

.cart-item {
  position: relative;
}
.cart-item-count {
  border: 2px solid red;
  border-radius: 100%;
  width: 1.8rem;
  text-align: center;
  position: absolute;
  top: -1.7rem;
  left: 50%;
}
@media (max-width: 1000px) {
  .nav-list {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    gap: 2rem;
    width: 0px;
    transition: all 0.3s;
    font-size: 1.2rem;
    z-index: 3;
    background-color: rgba(112, 111, 111, 0.75);
    height: 100vh;
  }
  .nav-list .navlink {
    width: 100%;
    text-align: center;
    display: none;
  }
  .navbar-icons {
    display: flex;
    margin-right: 1rem;
  }
  .cart {
    filter: invert(1);
  }

  /* Trick */
  .nav-active .navlink {
    display: inline;
    color: white;
  }
  .nav-active {
    transform: translateX(0);
    width: 50%;
  }
  .logo {
    width: 10%;
  }
}
@media (max-width: 700px) {
  .logo {
    width: 15%;
  }
}
@media (min-width: 1000px) {
  .cart-item-count {
    width: 1.5rem;
    top: -1rem;
    left: -50% !important;
  }
}
